@using FraoulaPT.DTOs.AuthDTOs
@model UserForgotPasswordDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Şifremi Unuttum";
    var waitSeconds = ViewBag.ResetPasswordWaitSeconds ?? 0;
}
<h2>Şifremi Unuttum</h2>
<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <button type="submit" id="forgotBtn" @(waitSeconds > 0 ? "disabled" : "")>Şifre Sıfırlama Bağlantısı Gönder</button>
</form>

@if (ViewBag.Info != null)
{
    <div class="alert alert-info">@ViewBag.Info</div>
}

@if (waitSeconds > 0)
{
    <div id="wait-message" class="alert alert-warning mt-3">
        <span>Şifre Sıfırlama Linki E-Posta Adresinize Gönderildi. Yeni şifre sıfırlama isteği için <span id="timer">@waitSeconds</span> saniye bekleyiniz.</span>
    </div>
    <script>
        let seconds = @waitSeconds;
        const btn = document.getElementById("forgotBtn");
        const timerSpan = document.getElementById("timer");
        const interval = setInterval(function () {
            seconds--;
            timerSpan.innerText = seconds;
            if (seconds <= 0) {
                clearInterval(interval);
                document.getElementById("wait-message").style.display = "none";
                btn.disabled = false;
            }
        }, 1000);
    </script>
}
