@using FraoulaPT.DTOs.AuthDTOs
@model UserResetPasswordDTO
@{
    ViewData["Title"] = "Şifre Sıfırla";
}
<h2>Şifre Sıfırla</h2>
<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
    <div>
        <label>Yeni Şifre</label>
        <input asp-for="NewPassword" type="password" />
    </div>
    <div>
        <label>Yeni Şifre Tekrar</label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit">Şifreyi Sıfırla</button>
</form>
@if (ViewBag.Info != null)
{
    <div>@ViewBag.Info</div>
}
